html {
    scroll-behavior: smooth;
    overflow: hidden;
}

div.header {
    height: 600px;
    text-align: center;
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    font-family: sans-serif;
    padding: 250px;
}

div.choose-adv {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

div.num-players {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 50px;
}

div.play {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

button.advOne {
    height: 80%;
    width: 32%;
    background-color: olive;
    border: none;
    font-size: 40px;
    padding: 20px;
}

button.advTwo {
    height: 80%;
    width: 32%;
    background-color: skyblue;
    border: none;
    font-size: 40px;
    padding: 20px;
}

button.advThree {
    height: 80%;
    width: 32%;
    background-color: burlywood;
    border: none;
    font-size: 40px;
    padding: 20px;
}

button.oneplayer {
    height: 90%;
    width: 45%;
    background-color: orange;
    border: none;
    font-size: 40px;
    padding: 20px;
}

button.twoplayer {
    height: 90%;
    width: 45%;
    background-color: orchid;
    border: none;
    font-size: 40px;
    padding: 20px;
}