html {
    scroll-behavior: smooth;
    overflow: hidden;
}

div.header {
    height: 600px;
    text-align: center;
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    font-family: sans-serif;
    padding: 250px;
}

div.choose-adv {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

div.num-players {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 50px;
}

div.play {
    height: 600px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

button.advOne {
    height: 80%;
    width: 32%;
    background-color: olive;
    border: none;
    font-size: 40px;
    box-shadow: 0 9px #999;
}

button.advTwo {
    height: 80%;
    width: 32%;
    background-color: skyblue;
    border: none;
    font-size: 40px;
    box-shadow: 0 9px #999;
}

button.advThree {
    height: 80%;
    width: 32%;
    background-color: burlywood;
    border: none;
    font-size: 40px;
    box-shadow: 0 9px #999;
}

button.oneplayer {
    height: 90%;
    width: 45%;
    background-color: orange;
    border: none;
    font-size: 40px;
    padding: 20px;
    box-shadow: 0 9px #999;
}

button.twoplayer {
    height: 90%;
    width: 45%;
    background-color: orchid;
    border: none;
    font-size: 40px;
    padding: 20px;
    box-shadow: 0 9px #999;
}

button.oneplayer:active {
    background-color: orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.twoplayer:active {
    background-color: orchid;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.advOne:active {
    background-color: olive;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.advTwo:active {
    background-color: skyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.advThree:active {
    background-color: burlywood;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.advOne:hover {
    opacity: 0.5
}

button.advTwo:hover {
    opacity: 0.5
}

button.advThree:hover {
    opacity: 0.5
}

button.oneplayer:hover {
    opacity: 0.5
}

button.twoplayer:hover {
    opacity: 0.5
}